.locationList {
  display: flex;
  gap: .5rem;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.locationListTitle {
  display: flex;
  gap: .5rem;
  justify-content: space-between;
}

.locationListItem {
  display: flex;
  gap: .5rem;
}